<th: block th:fragment="footer">
    <div class="prefooter-customer mg-top-30">
        <div class="container">
            <div class="bg-prefooter">
                <div class="d-flex row d-flex-center">
                    <div class="col-md-7 col-sm-7 col-xs-12 d-flex d-flex-center js-between">
                        <p class="title-regis">Đăng kí nhận tin</p>
                        <div class="form-ft-wanda">
                            <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
                                <input name="form_type" type="hidden" value="customer"/>
                                <input name="utf8" type="hidden" value="✓"/>
                                <div class="form-group mb-0 icon-email">
                                    <input id="contact_tags" name="contact[tags]" type="hidden"
                                           value="khách hàng tiềm năng-https://wd-smart.myharavan.com/cart"/>
                                    <input autocomplete="on" id="contact_email_ft" name="contact[email]" placeholder="Email"
                                           required="required" type="email"/>
                                </div>
                                <button class="btn" type="submit">
                                    <i aria-hidden="true" class="fa fa-paper-plane-o"></i> Đăng
                                    ký
                                </button>

                                <input id="e039af4c7ccd4ca68894693b4caee2bc" name="g-recaptcha-response"
                                       type="hidden"/>
                                <!--<script src='https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-'></script>-->
                                <!--<script>grecaptcha.ready(function() {grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action: 'submit'}).then(function(token) {document.getElementById('e039af4c7ccd4ca68894693b4caee2bc').value = token;});});</script>-->
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <ul class="social-footer d-flex d-flex-center">
                            <li class="zalo">
                                <a href="1" rel="nofollow"><img alt="Liên hệ với chúng tôi qua Zalo" class="lazyload" data-src="https://file.hstatic.net/200000397757/file/zalo-icon_0adb17d386cc4785b30ef66e470b4342.svg"
                                                                height="30"
                                                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                                                width="30"/></a>
                            </li>
                            <li class="tiktok">
                                <a href="1" rel="nofollow"><img alt="Liên hệ với chúng tôi qua Tiktok" class="lazyload" data-src="https://file.hstatic.net/200000525917/file/tik-tok_e914ba6238604946935723c6839cc211.svg"
                                                                height="18"
                                                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                                                width="18"/></a>
                            </li>
                            <li class="twitter">
                                <a href="1" rel="nofollow"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="1" rel="nofollow"><i aria-hidden="true" class="fa fa-youtube"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="1" rel="nofollow"><i aria-hidden="true" class="fa fa-instagram"></i></a>
                            </li>
                            <li class="facebook">
                                <a href="1" rel="nofollow"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="mg-0 pd-bt-50-mb">
        <div class="top-ft-wanda">
            <div class="container">
                <div class="d-flex row">
                    <div class="col-md-3 col-sm-6 col-xs-12 infomation mg-bottom-15">
                        <div class="title-footer">
                            <a href="/">
                                <img alt="Spring Mobile" class="dt-width-auto logo-ft" height="50"
                                     th:src="@{images/SpringMobile.png}" width="200"/>
                            </a>
                        </div>
                        <div class="infomation-wanda">
                            <p>Spring Mobile - Điện Thoại Siêu Rẻ, Trao Trọn Yên Tâm.</p>
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="fa fa-map-marker"></i> 19 Nguyễn Hữu Thọ, Phường Tân
                                    Phong,
                                    Quận 7,TP. HCM
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fa fa-phone"></i>
                                    <a href="tel:0967671065" rel="nofollow">0967671065</a>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fa fa-envelope-o"></i>
                                    <a href="mailto:nguyenhuutin124@gmail.com"
                                       rel="nofollow">nguyenhuutin124@gmail.com</a>
                                </li>
                                <li class="bocongthuong">
                                    <a href="" rel="nofollow"><img alt="Bộ công thương" class="lazyload"
                                                                   data-src="https://file.hstatic.net/200000397757/file/dathongbao_48067cd02fae41b68bf0294777c39c94_compact.png"
                                                                   height="45"
                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                                                   width="120"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 tablink mg-bottom-15">
                        <div class="title-footer">
                            <div class="h4">Chính sách</div>
                        </div>
                        <div class="footer-link-wanda">
                            <ul>
                                <li><a href="/">Chính sách bảo hành</a></li>
                                <li><a href="/">Tra cứu bảo hành</a></li>
                                <li><a href="/">Trả góp online</a></li>
                                <li>
                                    <a href="/">Hướng dẫn thiết lập</a>
                                </li>
                                <li><a href="/">Tính năng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 tablink mg-bottom-15">
                        <div class="title-footer">
                            <div class="h4">Hướng dẫn</div>
                        </div>
                        <div class="footer-link-wanda">
                            <ul>
                                <li><a href="/">Chính sách bảo hành</a></li>
                                <li><a href="/">Tra cứu bảo hành</a></li>
                                <li><a href="/">Trả góp online</a></li>
                                <li>
                                    <a href="/blogs/huong-dan-thiet-lap">Hướng dẫn thiết lập</a>
                                </li>
                                <li><a href="/pages/tinh-nang-noi-bat">Tính năng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="title-footer">
                            <div class="h4">Tổng đài hỗ trợ</div>
                        </div>
                        <ul class="footer-support">
                            <li>
                                <span>Gọi mua hàng:</span>
                                <a href="tel:0967671065">0967671065</a>
                                <span>(8h30-21h)</span>
                            </li>
                            <li>
                                <span>Gọi bảo hành:</span>
                                <a href="tel:0967671065">0967671065</a>
                                <span>(8h30-21h)</span>
                            </li>
                            <li>
                                <span>Gọi khiếu nại:</span>
                                <a href="tel:0967671065">0967671065</a>
                                <span>(8h30-21h)</span>
                            </li>
                        </ul>
                        <div class="title-footer">
                            <div class="h4">Phương thức thanh toán</div>
                        </div>
                        <div>
                            <img alt="Phương thức thanh toán" height="24"
                                 src="https://theme.hstatic.net/1000379792/1000977285/14/footer_trustbadge.jpg?v=338"
                                 width="246"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wanda">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-copyright mb-0">
                            <span>© Copyright 2023 By
                                <a class="underline_hover link" href="/" target="_blank">
                                    Spring Mobile.</a><a href="https://www.haravan.com?ref=wanda" rel="nofollow"
                                                         target="_blank">
                                    Powered by Spring Mobile</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:>
